In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

# Data Preprocessing

For Data Preprocessing here we are using Social_Network_Ads_1 Data Set. It is talking about the customers information. A particular company is displaying lots of ads to the customers through social media(Company is trying to show ads only the customers who purchased the product) . What is our task is , Here we have a particular variable $ purchased $. It is our target variable . Here based on various other information(Country,Gender,Salary etc..). Here we are trying to estimate whether he is purchased the product or not or ideally is there is any chance that a particular customer purchases the product

In [4]:
data = pd.read_csv(r"Social_Network_Ads_1.csv")

In [5]:
data

      User ID        Date   Country  Gender  Age  EstimatedSalary  Purchased
0    15624510  01-03-2012    France    Male   19          19000.0          0
1    15810944  01-04-2012     Italy    Male   35          20000.0          0
2    15668575  01-05-2012    France  Female   26          43000.0          0
3    15603246  01-06-2012   Germany  Female   27          57000.0          0
4    15804002  01-09-2012    France    Male   19          76000.0          0
..        ...         ...       ...     ...  ...              ...        ...
398  15691863  08-05-2013    France  Female   46          41000.0          1
399  15706071  08-06-2013     Italy    Male   51          23000.0          1
400  15654296  08-07-2013     Italy  Female   50          20000.0          1
401  15755018  08-08-2013   Germany    Male   36          33000.0          0
402  15594041  08-09-2013  Germany&  Female   49          36000.0          1

[403 rows x 7 columns]

In [7]:
data.shape

(403, 7)

## Checking for any missing values

What ? --> What is the missing value

Why ? ---> Why do we need to handle this

Example -: Let's assume that our data is --> 200,400,nan,500,750

So we know that our machine learning model is a mathematical model. Let's assume that our machine is doing something like this,

200+400+nan+500+750 -> Is this valid ? No. We can't add nan value with numbers

ie, we can't use nan value for calculations in a machine learning model
   

How ? How to handle the missing value 

Either fill the missing value

    --- 1. Fill With mean or median or mode
    
    ----2. Fill by analyzing the data
    
           -----2.1 GroupBy Analysis
           
           -----2.2 Stats analysis
           
    ----3. Fill with random selection in the variable
    
    ----4. Fill with some relevant value
    
    ----5. Predict the missing value
           

OR drop the missing value

    ---- 1. Drop a row ( When you have a huge data set)
    
    ---- 2. Drop the entire column (When there is 30%-40% of missing values in the column)

In [13]:
data.isnull().any()

User ID            False
Date               False
Country            False
Gender             False
Age                False
EstimatedSalary     True
Purchased          False
dtype: bool

In [15]:
data.isnull().any().sum() # Gives the number of columns with missing values

1

In [16]:
data.isnull().sum()

User ID            0
Date               0
Country            0
Gender             0
Age                0
EstimatedSalary    2
Purchased          0
dtype: int64

In [19]:
data["EstimatedSalary"].isnull().sum()

2